<h1>{{#if _id}}Edit{{else}}Create{{/if}}Profile</h1>

<div class="container col m12 center-align">
  <form class='col m12 center' action="/{{_id}}" method="POST">
    <div class="row">
      <div class="input-field col m8 center-align">
        <input type="text" name="avatar" placeholder="Profile Picture" value="{{avatar}}">
        <input type="text" name="name" placeholder="Name" value="{{name}}">
        <input type="text" name="city" placeholder="City" value="{{address.city}}">
        <input type="text" name="state" placeholder="State or Province" value="{{address.state}}">
        <input type="text" name="country" placeholder="Country" value="{{address.country}}">
        <input type="text" name="email" placeholder="Email" value="{{email}}">
        <input type="text" name="phone" placeholder="Phone" value="{{phone}}">
        <input type="text" name="uni" placeholder="Education" value="{{university}}">
        <input type="text" name="company" placeholder="Company" value="{{company}}">
        <input type="text" name="job" placeholder="Job" value="{{job}}">
        <input type="text" name="skill" placeholder="Skilled in:" value="{{skill}}">
        <input class="btn waves-effect waves-light blue" type="submit" value="{{#if _id}}Update{{else}}Create{{/if}} Profile">
      </div>
    </div>
  </form>
</div>
