<div class="header">
<h1 class="title"><a class="home-link" href="/">Probots</a></h1>
<h3 class="subtitle">An online community for Professional Robots</h3>
</div>


<div class="profileContainer">
  <img class="profPic" src="{{avatar}}">
  <div class="userProfInfo">

    <h1 class="name profName">{{name}}</h1>
    {{#if address.city }}
    <h4 class="firstLine">{{address.city}},  {{address.country}} |</h4>
    {{else}}
    <h4 class="firstLine">{{address.country}} |</h4>
    {{/if}}

    {{#if job}}
    <h4 class="secondLine">| {{job}}, {{company}} </h4>
    {{else}}
    <h4 class="avail">Available for hire</h4>
    {{/if}}

    <div class="contactInfo">
      <h4 class="contact1"> {{email}} </h4>
      <h4 class="contact2">| {{phone}} </h4>
    </div>

    <div class="learn">
    {{#if university}}
    <h4 class="ed">Education</h4>
    <p class="uni">{{university}}</p>
    {{else}}
    <p></p>
    {{/if}}
    </div>

    <div class="last">
      <h4 class="skilled">Skills</h4>
      <div class="allSkills">
        <p class="each">{{ skills.[0] }}</p>
        <p class="each">{{ skills.[1] }}</p>
        <p class="each">{{ skills.[2] }}</p>
      </div>
    </div>

    <div class="connect">
      <a class="connectButton" href="/request">Connect with {{name}}</a>
    </div>


  </div>
</div>

<div class="end">
  <a class="return" href="/">Return to Home Page</a>
</div>
