<div class="header">
<h1 class="title"><a class="home-link" href="/">Probots</a></h1>
<h3 class="subtitle">An online community for Professional Robots</h3>
</div>


<div class="profileContainer">
  <img class="profPic" src="{{ user.avatar }}">
  <div class="userProfInfo">

    <h1 class="name profName">{{ user.name }}</h1>
    {{#if user.address.city }}
    <h4 class="firstLine">{{ user.address.city }},  {{ user.address.country }} |</h4>
    {{else}}
    <h4 class="firstLine">{{ user.address.country }} |</h4>
    {{/if}}

    {{#if user.job }}
    <h4 class="secondLine">| {{ user.job }}, {{ user.company }} </h4>
    {{else}}
    <h4 class="avail">Available for hire</h4>
    {{/if}}

    <div class="contactInfo">
      <h4 class="contact1"> {{ user.email }} </h4>
      <h4 class="contact2">| {{ user.phone }} </h4>
    </div>

    <div class="learn">
    {{#if user.university}}
    <h4 class="ed">Education</h4>
    <p class="uni">{{ user.university }}</p>
    {{else}}
    <p></p>
    {{/if}}
    </div>

    <div class="last">
      <h4 class="skilled">Skills</h4>
      <div class="allSkills">
        <p class="each">{{ user.skills.[0] }}</p>
        <p class="each">{{ user.skills.[1] }}</p>
        <p class="each">{{ user.skills.[2] }}</p>
      </div>
    </div>

    <div class="connect">
      <a class="connectButton" href="/request">Connect with {{ user.name }}</a>
    </div>


  </div>
</div>

<div class="end">
  <a class="return" href="/">Return to Home Page</a>
</div>
